// app global css

$linkColor = #2e9dfd;
a {
    text-decoration : none;
    color: $linkColor;
}

a:link {

}

a:visited {
    color: $linkColor;
}

a:hover {
    color: #027be3;
}

a:active {
    text-decoration : underline;
}

body {
    text-align : center;
}

header {
    margin : 0;
    height : 10px;
    background-color : $primary;
}

$fontWeightLight = 300
body {
    color       : #333;
    font-family : 'Roboto', sans-serif;
    font-weight : $fontWeightLight;
    display     : inline-block;
}
